@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,800;1,400;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.error{
    box-shadow: 6px 13px 37px rgb(255, 7, 7);
}
.form-contact{
    background: rgba(255, 255, 255,0.2);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    width: 350px;
    padding: 30px;
    margin: auto;
    margin-top: 50px; 
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px black;
}
#consulta{
    width: 100%;
    height: 70px;
}
.final{
    opacity: 0%;
    width: 100%;
    height: 100%;
    background: gray;
    font-size: 20px;
    background: rgba(255, 255, 255,0.2);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    width: 350px;
    padding: 30px;
    margin: auto;
    margin-top: 25px; 
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px black;
}
.final2{
    opacity: 0%;
    width: 100%;
    height: 100%;
    background: gray;
    font-size: 20px;
    background: rgba(255, 255, 255,0.2);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    width: 350px;
    padding: 30px;
    margin: auto;
    margin-top: 25px; 
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px black;
}
.botons{
    background-color: black;
}
.form-contact h4{
    color: black;
font-size: 20px;
margin-bottom: 15px;
padding-left: 5%;
}
.form-contact .botons{
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    background: white;
    border: 1px solid black;
}

.botons {
    text-align: center;
    color: black;
    cursor: pointer;
}
.botons:hover{
    text-decoration: underline;
}
.controls{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid black;
    color: black;
}
.controls-consullt{
    width: 100%;
    background: blacks;
padding: 35px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid black;
    color: black;
    padding-left: 3%;
    padding-right: 9px;
    padding-top: 3%;
}
body{
    background: url(/img/pexels-eberhard-grossgasteiger-1287145.jpg) 
    no-repeat
    center center fixed;
    background-size: cover;
}
.titulo{
    width: 100%;
    margin: auto;
    border: 1px rgba(255, 255, 255,0.2);
    text-decoration: none;
    
}
.texto{
    width: 100%;
    text-align: left;
    margin: 0% auto;
    border: 1px solid black;
}
.Biografia{
    background-color: rgb(61, 61, 61);
    box-shadow: 7px 13px 37px black;
    margin: 25px;
    padding: 1% ;
}
.Biografia p{
    text-decoration: none;
}
header{
    background: black;
    text-align: center;
    color: white;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    display: flex;
    align-items: center;
}
nav{
   background: rgba(255, 255, 255,0.2);
    height: 50px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
}
.Clearfix{
    clear: both;
}
.enlace{
    color: black;
    font-size: 95%;
}
img{
    float: right;
}
p{
    color: rgb(255, 255, 255);
}
h2{
color: whitesmoke;
}
a{
    text-decoration: black;
    color: #ffffff53;
}
a:hover{
    text-decoration: underline;
}
#videos{
    box-shadow: 7px 13px 37px black;
}
#video2{
    box-shadow: 7px 13px 37px black;
    padding-right: 15px;
    padding-left: 15px;
}
.recuadro{
  display: flex;
  justify-content: center;
}
.controles{
    display: flex;
    align-items: center;
    width: 100%;
}

.container-carousel {
    margin-left: 20px;
    position: relative;
    width: 700px;
    height: 400px;
    background-color: #e0e0e0;
    box-shadow: 7px 13px 37px black;
    overflow: hidden;
}

.carruseles{
    width: 400%;
    height: 100%;
    display: flex;
}

.carrusel-section{
    width: calc(100% / 4);
    height: 100%;
    
}

.carrusel-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.boton-left,
.boton-right {
    height: 30px;
    display: flex;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-radius: 150%;
    cursor: pointer;
    color: #ffffff81;

}
.boton-left:hover,
.boton-right:hover {
    background-color: #333333d4;
    color: #fff;
}
.boton-left {   
    left: 10px;
}
.boton-right {
    right: 10px;
    transform:rotate(180deg)
}
.contenedor_1{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    display: flex;
}